*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
header{
    background-color: #1a1a6c;
    height: 15vh;
    line-height: 15vh;
    text-align: center;
    font-family: "Gill Sans MT", sans-serif;
    color: lightblue;
    width: 100vw;

    position: fixed;
    top: 0;

}
#logo{
    /*margin-top: 10px;*/
    float: left;
    width: 70px;
    margin-left: 25px;
    margin-top: 3vh;
    transition: transform .2s;

}
#logo:hover{
    /*border: 2px solid lightblue;*/
    /*width: 115px;*/
    opacity: 50%;
    /*margin-top: 15px;*/
    /*margin-left: 15px;*/
    transform: scale(1.2);
}
header h1{
    display: inline-block;
}
nav{

    height: 85vh;
    width: 20vw;
    background-color: lightblue;
    display: inline-block;
    text-align: center;
    float: left;
    position: fixed;
    top: 15vh;

}
nav a{
    display: block;
    padding: 20px;
    /*text-decoration: none;*/
    color: #1a1a6c;
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 25px;

}
nav a:hover{
    background-color: #84a3af;
    color: #2a2aa1;
}
nav a:active{
    background-color: lightblue;
    color: #1a1a6c;
}
#link-nav{
    margin-top: 5vh;
}
main{
    background-color: gray;
    width: 78vw;
    height: 85vh;
    float: right;
    text-align: center;
    margin-top: 15vh;
    align-content: center;

}


.card{
    background-color: #b3b3b3;
    display: inline-block;
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    margin: 25px;
    text-align: left;
    width: 250px;
}
.card:hover{
    background-color: white;
}
.bold{
    font-weight: bold;
}
#home{
    width: 60px;
    float: right;
    margin: 25px;
    transition: transform .2s;
}
#home:hover{
    /*width: 75px;*/
    /*margin: 15px;*/
    opacity: 50%;
    transform: scale(1.5);
}
button{
    padding: 20px;
    border-radius: 10px;
    border: 0;
    background-color: lightblue;
    color: #1a1a6c;
    font-weight: bold;
    font-family: "Berlin Sans FB", sans-serif;
    margin: 20px;
}
button:hover{

}
a{
    text-decoration: none;
}
button a{
    font-family: "Berlin Sans FB", sans-serif;
    color: #1a1a6c;
}
.cadastro-div{
    background-color: #1a1a6c;
    padding: 20px;
    border-radius: 15px;
    width: 40vw;
    font-size: 26px;
    font-family: Bahnschrift, sans-serif;
    margin-left: 20vw;

}
.display-inline-block{
    display: inline-block;
}
.display-block{
    display: block;
}
label{
    color: lightblue;
}
.container{
    width: 78vw;
    height: 80vh;
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
input{
    padding: 15px;
    border-radius: 10px;
    border: 0;
    margin: 10px;
    /*&:focus{*/
    /*    border: 5px solid red;*/
    /*}*/
}
.card b{
    font-family: "Gill Sans MT", sans-serif;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;

}
/*input[type=number] {*/
/*   -moz-appearance: textfield;*/
/*   appearance: textfield;*/

/*}*/
.flash{
    background-color: red;
    border-radius: 20px;
    opacity: 50%;
    font-family: "Arial Black", sans-serif;
    font-size: 26px;
    display: inline-block;
    padding: 5px;
}
#botao{
    margin-left: 35vw;
    display: block;
}
.titulo{
    font-family: "Berlin Sans FB", sans-serif;
    font-size: 36px;
}