{% extends 'index.html' %}

{% block conteudo %}
<h2>Animais</h2>
    {% for animal, cliente in var_animal %}
        <div class="card">

            <p><b>ID:</b> {{animal.id_animal}}</p>
            <p><b>NOME:</b> {{animal.nome_animal}}</p>
            <p><b>RAÇA:</b> {{animal.raca_animal}}</p>
            <p><b>NASCIMENTO:</b> {{animal.ano_nasc_animal}}</p>
            <p><b>CLIENTE:</b> {{animal.id_cliente1}}</p>
            <p><b>TUTOR:</b> {{cliente.nome_cliente}}</p>

<!-- arrumar isso aqui deixar em negrito com css-->
        </div>

    {% endfor %}
{% endblock %}