{% extends 'index.html' %}

{% block conteudo %}

<h1 class="titulo">Animais</h1>

    <button class="botao"><a  href="{{url_for('cadastro_animais_func')}}"> CADASTRAR </a></button>
{% if pesquisa == True: %}
    <button class="botao"><a href="{{url_for('animais_func')}}">VOLTAR</a></button>
{% endif %}
    {% for animal, cliente in var_animal %}
        <div class="card">

            <p><b>ID:</b> {{animal.id_animal}}</p>
            <p><b>NOME:</b> {{animal.nome_animal}}</p>
            <p><b>RAÇA:</b> {{animal.raca_animal}}</p>
            <p><b>NASCIMENTO:</b> {{animal.ano_nasc_animal}}</p>
            <p><b>CLIENTE:</b> {{animal.id_cliente1}}</p>
            <p><b>TUTOR:</b> {{cliente.nome_cliente}}</p>

<!-- arrumar isso aqui deixar em negrito com css-->
        </div>

    {% endfor %}
{% endblock %}