<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Base de dados</title>
    <link rel="stylesheet" href="/static/style.css ">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/12/12638.png">
</head>
<body>
    <header>
        <a href=""><img id="logo" src="https://cdn-icons-png.flaticon.com/512/12/12638.png" alt="Logo" ></a>
        <h1>PetShop</h1>
        <a href=""><img id="home" src="https://static.thenounproject.com/png/2137554-200.png" alt="Logo"></a>
    </header>
    <nav>
        <a id="link-nav" href="{{url_for('clientes_func')}}">CLIENTES</a>
        <a href="{{url_for('animais_func')}}">ANIMAIS</a>
        <a href="{{url_for('produtos_func')}}">PRODUTOS</a>
        <a href="{{url_for('veterinarios_func')}}">VETERINÁRIOS</a>
        <a href="{{url_for('categorias_func')}}">CATEGORIAS</a>
        <a href="{{url_for('consultas_func')}}">CONSULTAS</a>

    </nav>
    <main>
        {% for mensagem in get_flashed_messages() %}
            {{mensagem}}
        {%endfor%}

        {% block conteudo %}
        {% endblock conteudo %}
    </main>
</body>
</html>