<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Base de dados</title>
    <link rel="stylesheet" href="/static/style.css ">
    <link rel="icon" href="https://cdn-icons-png.flaticon.com/512/12/12638.png">
</head>
<body>
    <header>
        <a href="{{url_for('sobre_nos_func')}}"><img id="logo" src="https://cdn-icons-png.flaticon.com/512/12/12638.png" alt="Logo" ></a>
        <h1>PetShop</h1>


        <a href="{{url_for('home')}}"><img id="home" src="https://static.thenounproject.com/png/2137554-200.png" alt="Logo"></a>
    </header>
    <nav>
        <a id="link-nav" href="{{url_for('clientes_func')}}">CLIENTES</a>
        <a href="{{url_for('animais_func')}}">ANIMAIS</a>
        <a href="{{url_for('produtos_func')}}">PRODUTOS</a>
        <a href="{{url_for('veterinarios_func')}}">VETERINÁRIOS</a>
        <a href="{{url_for('categorias_func')}}">CATEGORIAS</a>
        <a href="{{url_for('consultas_func')}}">CONSULTAS</a>
        <a href="{{url_for('vendas_func')}}">VENDAS</a>
        <a href="{{url_for('motivos_func')}}">MOTIVOS</a>
    </nav>
    <main>


        {%- for msg in get_flashed_messages() %}
            <div class="flash">
                {{msg}}
            </div>
        {%-endfor%}
        <div class="head">
            <form action="{{url_for('pesquisar_func')}}" method="post">
                <span class="display-block">
                    <h1>{{class_}}</h1>
                    <input type="text" name="form-pesquisa" placeholder="Pesquisar">

                    <select name="campo">
                        {% for value, nome in dicio.items(): %}
                            <option value="{{value}}">{{nome}}</option>

                        {% endfor %}
                    </select>

                    <button type="submit" class="botao">ENVIAR</button>
                </span>
            </form>
            {% block titulo %}
            {% endblock titulo %}
        </div>
        {% block conteudo %}
        {% endblock conteudo %}
    </main>
</body>
</html>